@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.header {
  height: 15%;
  background-color: #1c1a19;

  width: 100%;

  position: fixed;
}

.ham-icon {
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.my-logo {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.main {
  background-image: url(../portfolio-mobile-first/icons/Illustration.png);
  background-position: right bottom;
  display: grid;
  place-items: center;
  margin-top: 60px;
  padding: 30px;
  width: 60px;
  background-color: #212121;
}

.name-box {
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20%;
  padding: 30px; */
}

.main-heading {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
}

.heading-top {
  display: block;
}

.heading-bottom {
  display: block;
}

/* .i-am-dev {
  color: #fff;
  margin: 15px 0;
  height: 27px;
  width: 80%;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
} */

.bio {
  width: 60px;
  color: #fff;
  line-height: 1.4;
}

.bio-description {
  width: 50%;
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

.icons {
  padding: 15px 0;
  display: flex;
  width: 55%;
  align-items: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.recent-work-box {
  margin: 35px 8px;
  border-bottom: 5px #212121;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% 50%);
}

.recent-work-img {
  margin-top: 60px;
  justify-content: center;
}

.recent-project-description {
  margin-top: 15px;
  line-height: 1.4;
}

.projects {
  padding: 30px;
  width: 350px;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons {
  padding: 5px 6px;
}

.see-project {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #ff6b00;
  border: none;
}
